@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #1a1a1a;
  --bg-card: #262626;
  --primary: #d4af37;
  --primary-dark: #b9922e;
  --text: #f5f5f5;
  --text-muted: #494949;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-main);
  color: var(--text);
  font-weight: 400;
}

/* Container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
.btn {
  padding: 10px 15px;

  background-color: var(--primary);
  color: #000;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  display: inline-block;
  border: none;
  transition: all 0.3s ease;
  line-height: 1.1;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--primary-dark);
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--primary);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}
.input-contanier {
  margin-bottom: 20px; /* مسافة تحت الـ input */
}
